.App {
    margin: 0;
}

.App-control-header {
    background: #3C3F41;
    height: 60px;
}

.App-line-split {
    background: #25282A;
    height: 5px;
}

.App-body {
    height: calc(100vh - 65px);
}

.App-info-panel {
    height: 100%;
    width: 10%;
    background-color: #3C3F41;
    float: left;
}

.App-drawing-area {
    background: #2B2B2B;
    width: 70%;
    height: 100%;
    float: left;
}

.App-code-panel {
    height: 100%;
    width: 20%;
    background-color: #3C3F41;
    float: left;
}

