@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.full-height-info-panel {
    height: calc(100vh - 80px);
}

.full-height-with-tabs {
    height: calc(100vh - 96px);
}

.half-height {
    height: calc(48%);
}

.full-height {
    height: calc(100vh - 48px);
}

.Code-panel-theader {
    white-space: pre;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
}

.Code-panel-tbody {
    font-family: monospace;
    font-size: 18px;
}

.Code-panel-whole-height {
    height: 100%;
}


.Code-panel-textarea {
    font-size: 16px;
    height: calc(95% - 27px);
    width: calc(100% - 10px);
    background: transparent;
    border: none;
    resize: none;
    white-space: nowrap;
}

.Code-panel-textarea::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

.Code-panel-textarea::-webkit-scrollbar-corner {
    background-color: transparent;
    border-color: transparent;
}

.Code-panel-textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #141719;
}

.Code-panel-textarea::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.Code-panel-table {
    height: 95%;
    width: calc(100% - 3px);
    overflow: scroll;
}

.Code-panel-table::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

.Code-panel-table::-webkit-scrollbar-corner {
    background-color: transparent;
    border-color: transparent;
}

.Code-panel-table::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.Code-panel-table::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
}

.Info-panel-analytic-green {
    color: #1d9797;
}

.Info-panel-analytic-red {
    color: #873434;
}

.invisible-scroll {
    overflow: scroll;
    /*overflow-x: hidden;*/
}

.invisible-scroll::-webkit-scrollbar {
    width: 10px;
    height: 0;
    background-color: transparent;
}

.invisible-scroll::-webkit-scrollbar-corner {
    background-color: transparent;
    border-color: transparent;
}

.invisible-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: transparent;
}

.invisible-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}


