.CodeMirror {
    height: calc(100vh - 96px);
}

.Code-panel-theader {
    white-space: pre;
    font-family: Verdana, monospace;
    color: #8b8a8a;
    font-size: 18px;
}

.Code-panel-tbody {
    font-family: Verdana, monospace;
    font-size: 18px;
}

.Code-panel-whole-height {
    height: 100%;
}


.Code-panel-textarea {
    font-size: 16px;
    height: calc(95% - 27px);
    width: calc(100% - 10px);
    background: transparent;
    border: none;
    resize: none;
    white-space: nowrap;
}

.Code-panel-textarea::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

.Code-panel-textarea::-webkit-scrollbar-corner {
    background-color: transparent;
    border-color: transparent;
}

.Code-panel-textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #141719;
}

.Code-panel-textarea::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.Code-panel-highlight-full {
    background-color: #1d9797;
}

.Code-panel-highlight-half {
    background-color: #1d9797;
    opacity: 50%;
}

.Code-panel-table {
    height: 95%;
    width: calc(100% - 3px);
    overflow: scroll;
}

.Code-panel-table::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

.Code-panel-table::-webkit-scrollbar-corner {
    background-color: transparent;
    border-color: transparent;
}

.Code-panel-table::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.Code-panel-table::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
}
