.CodeMirror {
    height: calc(100vh - 90px);
}

.Code-panel-theader {
    white-space: pre;
    font-family: Verdana, monospace;
    color: #8b8a8a;
    font-size: 18px;
}

.Code-panel-tbody {
    font-family: Verdana, monospace;
    font-size: 18px;
}

.Code-panel-space {
    height: 20px;
}

.Code-panel-half-height {
    height: calc((100% - 86px) / 2)
}

.Code-panel-whole-height {
    height: 100%;
}

.Code-panel-text {
    font-weight: bold;
    font-family: Verdana, monospace;
    white-space: nowrap;
}

.Code-panel-float-left {
    float: left;
}

.Code-panel-textarea {
    font-size: 16px;
    height: calc(95% - 27px);
    width: calc(100% - 10px);
    background: transparent;
    border: none;
    resize: none;
    white-space: nowrap;
}

.Code-panel-textarea::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

.Code-panel-textarea::-webkit-scrollbar-corner {
    background-color: transparent;
    border-color: transparent;
}

.Code-panel-textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #25282A;
}

.Code-panel-textarea::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.Code-panel-highlight-full {
    background-color: #1d9797;
}

.Code-panel-highlight-half {
    background-color: #1d9797;
    opacity: 50%;
}

.Code-panel-table {
    height: 95%;
    width: calc(100% - 3px);
    overflow: scroll;
}

.Code-panel-table::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

.Code-panel-table::-webkit-scrollbar-corner {
    background-color: transparent;
    border-color: transparent;
}

.Code-panel-table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #25282A;
}

.Code-panel-table::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.Code-panel-help {
    height: 100%;
    width: calc(100% - 230px);
    font-family: Verdana, monospace;
    font-size: 10px;
    display: inline-block;
    float: right;
    white-space: normal;
}
