.CodeMirror {
    height: calc(100vh - 90px);
}

.Code-panel-theader {
    white-space: pre;
    font-family: Verdana, monospace;
    color: #8b8a8a;
    font-size: 18px;
}

.Code-panel-tbody {
    font-family: Verdana, monospace;
    font-size: 18px;
}

.Code-panel-space {
    height: 20px;
}

.Code-panel-half-height {
    height: calc((100% - 86px) / 2)
}

.Code-panel-whole-height {
    height: 100%;
}

.Code-panel-text {
    font-weight: bold;
    font-family: Verdana, monospace;
    white-space: nowrap;
}

.Code-panel-float-left {
    float: left;
}

.Code-panel-textarea {
    font-size: 16px;
    height: calc(95% - 27px);
    width: calc(100% - 10px);
    background: transparent;
    border: none;
    resize: none;
    white-space: nowrap;
}

.Code-panel-textarea::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

.Code-panel-textarea::-webkit-scrollbar-corner {
    background-color: transparent;
    border-color: transparent;
}

.Code-panel-textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #25282A;
}

.Code-panel-textarea::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.Code-panel-highlight-full {
    background-color: #1d9797;
}

.Code-panel-highlight-half {
    background-color: #1d9797;
    opacity: 50%;
}

.Code-panel-table {
    height: 95%;
    width: calc(100% - 3px);
    overflow: scroll;
}

.Code-panel-table::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

.Code-panel-table::-webkit-scrollbar-corner {
    background-color: transparent;
    border-color: transparent;
}

.Code-panel-table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #25282A;
}

.Code-panel-table::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.Code-panel-help {
    height: 100%;
    width: calc(100% - 230px);
    font-family: Verdana, monospace;
    font-size: 10px;
    display: inline-block;
    float: right;
    white-space: normal;
}

.Code-panel-tasks-up {
    height: 30%;
    overflow: hidden;
    white-space: nowrap;
}

.Code-panel-tasks-bottom {
    height: 70%
}

.Code-panel-tasks-input {
    float: left;
    width: 60%;
    height: 100%;
}

.Code-panel-tasks-exec {
    float: right;
    /*width: 30%*/
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.Code-panel-tasks-exec-button {
    width: 150px;
    height: 50px;
}

.Code-panel-tasks-highlight {
    float: right;
    overflow: hidden;
    white-space: nowrap;
}

.Code-panel-tasks-result {
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

.Code-panel-tasks-result-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.Code-panel-generate-button,
.Code-panel-tasks-highlight-button {
    width: 150px;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
}

.Code-panel-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-spacing: 10px;
}

.Code-panel-row .item {
    flex: 1;
}

.Code-panel-row > div {
    margin: 6px;
}

.Code-panel-edge {
    height: 30px;
    width: 70px;
}

.Code-panel-node {
    height: 30px;
    width: 20px;
}

.Code-panel-tasks-dropdown {
    font-family: Verdana, monospace;
    font-weight: bold;
    font-size: 16px;
    background-color: #3C3F41;
    border: 0;
    border-bottom: 2px solid;
    outline: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    width: 100%
}

.Code-panel-tasks-parameter-label {
    white-space: nowrap;
    font-family: Verdana, monospace;
    font-size: 16px;
    font-weight: bold;
    float: left;
}

.Code-panel-tasks-parameter-div {
    margin-top: 8px;
    margin-left: 8px;
}

.Code-panel-tasks-parameter-span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px;
}

.Code-panel-tasks-parameter-input {
    font-family: Verdana, monospace;
    font-weight: bold;
    font-size: 16px;
    background-color: #3C3F41;
    border: 0;
    border-bottom: 2px solid;
    outline: 0;
    width: 100%;
}

.Code-panel-task-response {
    font-weight: bold;
    font-family: Verdana, monospace;
    /*word-break: break-all;*/
    margin-left: 8px;
    white-space: pre;
}

.Task-result-scroll {
    overflow: scroll;
    height: calc(((100vh) / 100 * 70) - 25px);
}

.Task-result-scroll::-webkit-scrollbar {
    width: 10px;
    height: 0;
    background-color: transparent;
}

.Task-result-scroll::-webkit-scrollbar-corner {
    background-color: transparent;
    border-color: transparent;
}

.Task-result-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #25282A;
}

.Task-result-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.Code-panel-option {
    height: 30px;
}

.Code-panel-options {
    font-weight: bold;
    font-family: Verdana, monospace;
    margin-left: 12px;
}
