.Control-panel-button {
    border: none;
    background-color: transparent;
    outline: none;
    height: 100%;
    font-weight: bold;
    font-family: Verdana, monospace;
    -webkit-transition: all 0.25s ease-in;
}

.Control-panel-button-error {
    background-color: #873434;
}

.Control-panel-button:hover {
    background-color: #8b8a8a;
}

.Control-panel-button-selected {
    border: none;
    background-color: #8b8a8a;
    outline: none;
    height: 100%;
    font-weight: bold;
    font-family: Verdana, monospace;
}

.Control-panel-header {
    background: #3C3F41;
    height: 40px;
    overflow: hidden;
    width: 100%;
}