.Drawing-area-header {
    background: #3C3F41;
    height: 40px;
}

.Drawing-area-header-button {
    border: none;
    background-color: transparent;
    outline: none;
    height: 100%;
    font-weight: bold;
    font-family: Verdana, monospace;
}

.Drawing-area-header-button:hover {
    background-color: #8b8a8a;
}

.Drawing-area-header-button-selected {
    border: none;
    background-color: #8b8a8a;
    outline: none;
    height: 100%;
    font-weight: bold;
    font-family: Verdana, monospace;

}

