@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.Drawing-area-refresh-button {
    float: right;
}

.Drawing-area-beautify-button {
    float: right;
}

.Drawing-area-config-button {
    float: right;
}

.Drawing-area-config-toggle {
    float: right;
}

.Drawing-area-config-item {
    margin-bottom: 6px;
    margin-left: 4px;
}

.Drawing-area-config {
    height: 150px;
    width: 160px;
    float: right;
    background-color: #3C3F41;
    position: relative;
    z-index: 2;
    font-family: Verdana, monospace;
    font-size: 16px;
    white-space: nowrap;
}

.Drawing-area-config-submit {
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Drawing-area-config-help {
    font-family: Verdana, monospace;
    font-size: 10px;
    white-space: normal;
    margin-left: 4px;
}
