.Info-panel-label {
    font-family: Verdana, monospace;
    font-weight: bold;
    color: #8b8a8a;
}

.Info-panel-text {
    word-break: break-all;
    font-family: Verdana, monospace;
    color: #8b8a8a;
}

.Info-panel-input {
    font-family: Verdana, monospace;
    color: #8b8a8a;
}