.Info-panel-analytic-green {
    color: #1d9797;
}

.Info-panel-analytic-red {
    color: #873434;
}

.Info-panel-scroll {
    overflow: scroll;
    /*overflow-x: hidden;*/
}

.Info-panel-scroll::-webkit-scrollbar {
    width: 10px;
    height: 0;
    background-color: transparent;
}

.Info-panel-scroll::-webkit-scrollbar-corner {
    background-color: transparent;
    border-color: transparent;
}

.Info-panel-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*background-color: #141719;*/
}

.Info-panel-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}
